@font-face {
  font-family: "IranSans";
  src: url("/fonts/IranSans.woff2") format("woff2"),
    url("/fonts/IranSans_Black.woff2") format("woff2"),
    url("/fonts/IranSans_Bold.woff2") format("woff2"),
    url("/fonts/IranSans_Light.woff2") format("woff2"),
    url("/fonts/IranSans_Medium.woff2") format("woff2"),
    url("/fonts/IranSans_UltraLight.woff2") format("woff2"),
    url("/fonts/IranSans.woff") format("woff"),
    url("/fonts/IranSans_Black.woff") format("woff"),
    url("/fonts/IranSans_Bold.woff") format("woff"),
    url("/fonts/IranSans_Light.woff") format("woff"),
    url("/fonts/IranSans_Medium.woff") format("woff"),
    url("/fonts/IranSans_UltraLight.woff") format("woff"),
    url("/fonts/IranSans.ttf") format("truetype"),
    url("/fonts/IranSans_Black.ttf") format("truetype"),
    url("/fonts/IranSans_Bold.ttf") format("truetype"),
    url("/fonts/IranSans_Light.ttf") format("truetype"),
    url("/fonts/IranSans_Medium.ttf") format("truetype"),
    url("/fonts/IranSans_UltraLight.ttf") format("truetype"),
    url("/fonts/IranSans.eot") format("eot"),
    url("/fonts/IranSans_Black.eot") format("eot"),
    url("/fonts/IranSans_Bold.eot") format("eot"),
    url("/fonts/IranSans_Light.eot") format("eot"),
    url("/fonts/IranSans_Medium.eot") format("eot"),
    url("/fonts/IranSans_UltraLight.eot") format("eot");
  font-weight: normal;
  font-style: normal;
}
