@layer base {
  html {
    --background: #ffedd4;
    --background-component: #3e4d6c;
    --primary: #ffb86a;
    --secondary: #3e4d6c;
    --accent: #ffedd4;
    // --input: #f9f9f9;
    // --backdrop: #a2a2a2;
    // --danger: #fe8182;
    // --warning: #ff9933;
    // --success: #60d6a4;

    // --border-regular: #e0e0e0;

    --font-regular: #3e4d6c;
    // --font-placeholder: #727272;
  }
}
