@layer base {
  html[data-theme="dark"] {
    --background: #3e4d6c;
    --background-component: #ffb86a;
    --primary: #3e4d6c;
    --secondary: #ffb86a;
    --accent: #8ea3ce;
    // --input: #1c1c1c;
    // --backdrop: #a2a2a2;
    // --danger: #fe8182;
    // --warning: #ff9933;
    // --success: #60d6a4;

    // --border-regular: #343434;

    --font-regular: #ffb86a;
    // --font-placeholder: #727272;
  }
}
